<polymer-element name="soundpath-track-player">
  <template>
    <style>
      :host {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80px;
        background-color: white;
        border-top: 1px solid lightgray;
        z-index: 11;
      }

      ul {
        position: fixed;
        right: 20px;
        bottom: 20px;
        list-style: none;
      }

      li {
        padding: 7px;
      }

      li:last-child {
        padding: 0;
      }
    </style>

    <paper-button class="colored" on-click="{{forceDrop}}">{{ currentTrack.artist }} &ndash; {{ currentTrack.title }}</paper-button>
    <ul>
      <li>
        <paper-fab mini class="red" icon="av:skip-next" role="button" on-click="{{skipTrack}}"></paper-fab>
      </li>
      <li>
        <paper-fab class="red" icon="av:{{ audio.paused ? 'pause' : 'play-arrow' }}" role="button" on-click="{{togglePlay}}"></paper-fab>
      </li>
    </ul>
    <audio id="track-player"></audio>
  </template>

  <script>
    Polymer({
      ready: function () {
        this.audio = this.shadowRoot.querySelector('#track-player');
        this.playTrack = function (track, skipped) {
          var oldTrack = this.currentTrack;
          this.currentTrack = track;
          this.audio.src = track.stream_url + '?client_id=cc6b70490609b09c4435861aff11fc6c';
          this.audio.play();
          this.fire('trackchange', {
            previousTrack: this.currentTrack,
            currentTrack: track,
            skipped: skipped,
          });
          console.log('NOW PLAYING', track.title);
        }.bind(this);

        this.audio.addEventListener('ended', function (event) {
          soundpath.Service.nextTrack().then(function (track) {
            this.playTrack(track);
          }.bind(this));
        }.bind(this));

        soundpath.Service.ready()
          .then(function () {
            soundpath.Service.nextTrack().then(function (track) {
              this.playTrack(track, true);
            }.bind(this));
          }.bind(this));
      },


      skipTrack: function (event, detail, sender) {
        soundpath.Service.nextTrack().then(function (track) {
          this.playTrack(track, true);
        }.bind(this));
      },


      forceDrop: function (event, detail, sender) {
        soundpath.Service.nextTrack().then(function (track) {
          this.playTrack(track);
        }.bind(this));
      },


      togglePlay: function (event, detail, sender) {
        if (this.audio.paused) {
          this.audio.play();
        } else {
          this.audio.pause();
        }
      },
    });
  </script>
</polymer-element>
